.idea/
*iml
target/
public/
**/charts
tmp/
.certs
**/*secret*.yaml
!sealed-secrets
!sealed-secrets-release.yaml
!infrastructure/sealed-secrets/monitor
!secrets.yaml
!secret-generator.yaml
!secrets-generator-release.yaml
!oidc-secret.yaml
!create-grafana-client-secret.yaml
!signing-secret.yaml
!create-kratos-dsn-secret.yaml
system/secrets/

infrastructure/database/base/values-s3.yaml
credentials-velero
terraform.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup

.env